{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="pub" itemscope itemtype="http://schema.org/ScholarlyArticle">

  {{ if .Params.header.image }}
  <div class="article-header">
    <img src="{{ "/img/" | relURL }}/{{ .Params.header.image }}" class="article-banner" itemprop="image">
    {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
  </div>
  {{end}}

  <div class="container pub-title">
    <h1 itemprop="name">{{ .Title }}</h1>
    <span class="pub-authors">
      {{ with .Params.authors }}
      <span itemprop="author">
      {{- delimit . "</span>, <span itemprop=\"author\">" | markdownify -}}
      {{ end }}
      </span>
    </span>
    <span class="pull-right">
      {{ partial "share.html" . }}
    </span>
  </div>

<div class="article-container">

  {{ if .Params.image }}
  <img src="{{ "/img/" | relURL }}{{ .Params.image }}" class="pub-banner" itemprop="image">
  {{end}}

  <h3>{{ i18n "abstract" }}</h3>
  <p class="pub-abstract" itemprop="text">{{ .Params.abstract }}</p>

  {{ with .Params.filing_date }}
	<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-xs-12 col-sm-3 pub-row-heading">{{ i18n "filing_date" }}</div>
       <time class="col-xs-12 col-sm-9" datetime = "{{ . | dateFormat "2006-01-02" }}" itemprop="datePublished">
          {{ . | dateFormat "January 02, 2006" }}
        </time> 
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="visible-xs space-below"></div>
  {{ end }}

  {{ with .Params.grant_date }}
	<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-xs-12 col-sm-3 pub-row-heading">{{ i18n "grant_date" }}</div>
       <time class="col-xs-12 col-sm-9" datetime = "{{ . | dateFormat "2006-01-02" }}" itemprop="datePublished">
          {{ . | dateFormat "January 02, 2006" }}
        </time> 
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="visible-xs space-below"></div>
  {{ end }}


  <div class="row" style="padding-top: 10px">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-xs-12 col-sm-3 pub-row-heading" style="line-height:34px;">{{ i18n "links" }}</div>
        <div class="col-xs-12 col-sm-9">

          {{ partial "patent_links" (dict "content" . "is_list" 0) }}

        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="visible-xs space-below"></div>

  <div class="space-below"></div>

  <div class="article-style">{{ .Content }}</div>

</div>
</div>

<div class="container">
  {{ partial "section_pager.html" . }}
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
